/**
 * @file Defines styles for a about module
 * @author Phil Hauser phil.hsr@gmail.com
 */

// replace with medium and large
// element breakpoints
$medium: 99999px;
$large: 1000px;


// element color pallet
// e.g $button-tint: #000000


//Default style (Small first)


// @include at-min-width($medium + 1){
// 	//medium styles
// }


// @include at-min-width($large + 1){
// 	//large styles
// }

.page-about .content{
	@include at-min-width($large){
		.content-block{
			img{
				margin-top: 1rem;
			}
		}
	}
}