//-
	@file Page instance: 11_degree_dock 
	@extends _page_default/_page_default

//- Page dependencies


//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "11_degree_dock"
	- page.title = "11_degree_dock"
	- page.mainScript = "11_degree_dock.js"


//- Content block
block content

	article
		h3 11º Dock
		br
		a(href="http://11degreedock.com/")
			img(src='/img/Work/site.png', alt='jct', width='644', height='278')

		:markdown
			As high­lighted by Bill Mog­gridge 11° is the most ergonomic angle for typ­ing. This is why the iPads’ Smart­Cover angles the iPad to exactly 11°. The Offi­cial iPhone Dock angles the iPhone to an unus­able angle.

			The 11° Dock is a sim­ple solu­tion as it holds the iPhone at this opti­mal angle. It ampli­fies the sound from the device, has a fin­ger grip on the back for easy removal and sup­ports the iPhone 4/4S/5 and 5S.

			I designed this dock and put it on Indigogo crowd-funding site. To compliment it I designed this [site](http://pjhauser.github.io/11deg-site/).
