//-
	@file Defines a footer mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies

//- Definition
mixin footer()

	footer
		p Lovingly ♥ crafted my me using 
			a(href="https://github.com/atomic-component-engine/ace") ace
