/**
 * @file Defines styles for a work module
 * @author Phil Hauser phil.hsr@gmail.com
 */

// replace with medium and large
// element breakpoints
$medium: 99999px;
$large: 99999px;


// element color pallet
// e.g $button-tint: #000000


//Default style (Small first)


// @include at-min-width($medium + 1){
// 	//medium styles
// }


// @include at-min-width($large + 1){
// 	//large styles
// }


.page-work .content-wrapper .content{
	@include at-min-width(1px) {

		.content-section--3-up, .content-section--2-up{
			@include cf();
			max-width: 70rem;
			margin: 6%;

			.content-block{
				min-height: 1rem;
				height: 100%;
				color: black;
				float: left;
				border: 1px solid #A0FFE0;
				border-top: 0.5rem solid #A0FFE0;

				img{
					width: 100%;
				}

				p{
					font-size: 1.2rem;
					font-family: $font-family;
					width: 100%;
					padding-top: 1rem;
					a{
						font-size: 1rem;
						color: #A0FFE0;
					}
					span{
						padding-top: 1rem;
					}
				}
				&.email-link{
					border-color: #d5d5d5;
					&:hover{
						background: #d5d5d5;
					}
				}
			}

			@include at-min-width(720px) {
				.content-block{
					min-height: 38rem;
					margin: 1%;
				}
			}

			@include at-min-width(850px) {
				margin: 0 auto;

				.content-block{
					min-height: 33rem;
				}
			}

		}
	}
}


