//-
	@file Page instance: 58degrees 
	@extends _page_default/_page_default

//- Page dependencies
include ../../molecules/_content_block/_content_block


//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "58degrees"
	- page.title = "58degrees"
	- page.mainScript = "58degrees.js"


//- Content block
block content

	article

				h3 Spark Branding

				a(href="/img/Work/58_degrees.png") 
					img(src="/img/Work/58_degrees.png", alt="")

				a(href="/img/Work/58_degrees.png") 
					img(src="/img/Work/58_degrees_2.png", alt="")

				a(href="/img/Work/58_degrees.png") 
					img(src="/img/Work/58_degrees_3.png", alt="")
